<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<!-- <meta name="google-signin-client_id" content="651300509888-ikg677dr9r73rrtpmsahshgfjmipr1ad.apps.googleusercontent.com">
                  <div id="g_id_onload"
                      data-client_id="651300509888-ikg677dr9r73rrtpmsahshgfjmipr1ad.apps.googleusercontent.com"
                      data-callback="handleCredentialResponse">
                  </div>
<asl-google-signin-button *ngIf="!user"></asl-google-signin-button>
<div *ngIf="user">
  <img src="{{user.photoUrl}}" alt="">
  <div>
    <h4>{{user.email}}</h4>
    <h4>{{user.name}}</h4>
  </div>
</div> -->